h1{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #464646;
    color:#ffd7c8;
}

body{
    background-color: #ffd7c8;
    height: 100%;
    margin-bottom: 100px; /* bottom = footer height */   
    margin-top: 0; 
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    text-align: justify-center;
}

.li{
    list-style: none;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #464646;
    color:#ffd7c8;
}

a { 
    text-decoration: none;
    color:#ffd7c8;
}

a:hover {
    text-decoration: underline;
    color:#ffd7c8;
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

label {
    margin-left: 70px;
}

#weatherInput {
    color: #464646;
    background-color: #e8f0fe;
}

#weatherSubmit {
    margin-left: 20px;
    background-color: #e8f0fe;
    border-radius: 5px;
    border: solid 2px #464646;
}

input[type=text] {
    border: solid 2px #464646;
    border-radius: 5px;
    color: #464646;
}

/* hides empty divs for weather and forecast results */
#weatherResults:empty {
    display: none;
}

#forecastResults:empty {
    display:none;
}

/* One day weather results     check shadow */
#weatherResults {
    border: 5px solid #d5e4ff;
    border-radius: 25px;
    box-shadow: 8px 5px 10px;
    background-color: #ffffffe0;
    color: #464646;
    font-size: large;
    margin: auto;
    padding: 15px 15px 15px 15px;
    width: 80%;
    justify-content: left;
    max-width: 500px;
}

#weatherResults h2{
    text-align: center;
    
}

#weatherResults img{
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;    
}

/* 7 day weather forecast */

#forecastResults {
    border: 5px solid #d5e4ff;
    border-radius: 25px;
    box-shadow: 8px 5px 10px;
    background-color: #ffffffe0;
    color: #464646;
    font-size: large;
    margin: auto;
    padding: 15px 15px 15px 15px;
    width: 80%;
    justify-content: center;
    text-align: center;
    max-width: 500px;

}

#forecastResults h2 {
    text-align: center;
}

#forecastResults img{
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;    
}

#forecastResults hr {
    border: 10px solid #d5e4ff;
    border-radius: 25%;
    width: 95%;
    margin-left: 0;
}


.forecast-unit {
    border: 2px solid #d5e4ff;
    border-radius: 5px;
    background-color: #ffffffe0;
    padding: 10px;
    color: #464646;
    margin: 5% 0px;
}

.day {
   padding-top: 20px;
}
#forecastResults {
    display: block;
}

.forecast-unit img {
    width: 30%;
}
